.container{
    width: 640px;
    margin: 0 auto;
    text-align: justify;
    background-color: blue;
}

.tile {
    width: 180px;
    margin: 0 10px;
    background-color: red;
    display: inline-block;
    text-align: center;
}

.container::after {
    content: "";
    display: inline-block;
    width: 100%;
}